<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content">
            <a href="{{@blog.url}}" class="blog-title"><h1>{{@blog.title}}</h1></a>
            <ul class="blog-nav">
                <li><a href="{{@blog.url}}">Blog</a></li>
                <li><a href="{{@blog.url}}/about">About</a></li>
                <li><a href="{{@blog.url}}/assets/resume.pdf">Resume</a></li>
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{! ghost_foot}}

</body>
</html>
